/*
 * 弹性框定义页面三段式布局 : 头体脚
 */
* {
  box-sizing: border-box;
}
input, textarea, select {
  line-height: inherit;
  font: inherit;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}

.page_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* 页面布局子项 */
.page_item {
    width: 100%;
    margin: auto;
}

body {
    font-size: 18px;
    background-color: #FFF8DC;
    font-family: 'Kaiti SC', 'Kaiti TC', 'Songti SC', 'Songti TC', 'Weibei SC', 'Weibei TC', 'Microsoft YaHei';
}

body.home {
    margin-top: 50px;
}

.footer {
    padding: 20px 0;
    text-align: center;
    color: #b8b8b8;
    font-size: 14px;
}
.footer a,.txt {
    color: #b8b8b8;
    text-decoration: none;
}

