/*
 * 诗词搜索结果贴片容器
 */
.shici_container {
    width: 100%;
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*
 * 搜索结果 - 贴片容器
 */
.shici_tile {
    width: 340px;
    height: 300px;
    margin: auto;
    padding: 10px;
}

/*
 * 搜索结果 - 书签容器 
 */
.shici_tile_slim {
    width: 320px;
    height: 70px;
    margin: auto;
    padding: 10px;
}

.shici_item:hover, .shici_item_slim:hover {
    box-shadow: 0px 0px 5px 5px #f9ce17;
}

.shici_item {
    background-color: #c2c8f6;
    width: 320px;
    height: 280px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
    padding: 10px;
}

.shici_item_slim {
    background-color: #c2c8f6;
    width: 300px;
    height: 50px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
    padding: 10px;
}

.shici_item_mask {
    width: 300px;
    height: 260px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    margin: auto;
}

.shici_item_mask_slim {
    width: 280px;
    height: 30px;
    margin: auto;
    display: flex;
    align-items: center;
}

.slim_part1 {
    width: 80%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    color: Gray;
}

.slim_name, .slim_author {
    color: GhostWhite;
}
.slim_part2 {
    width: 20%;
    text-align:right;
    text-overflow: ellipsis;
}
.slim_line {
    font-size: 14px;
}

.shici_item p:hover, #work_body p[data='zw']:hover {
    background-color: GhostWhite;
}

.show_work_body, .editor_body {
    background-color: #c2c8f6;
    padding: 10px;
}
.show_work_item {
    width: 100%;
    padding: 10px;
}

header {
    font-weight: normal;
    font-size: 20px;
    color: White;
    text-align: center;
}

header .author {
    font-size: 18px;
    color: WhiteSmoke;
}

header .baike {
    cursor: pointer;
} 

.preface {
    font-weight: normal;
    font-size: 14px;
    color: GhostWhite;
}

p.preface:hover {
    background-color: WhiteSmoke;
    color: Gray;
}

.shi_style {
    text-align: center;
}
.shi_style span {
    width: 50%;
}
.ci_style {
    text-align: left;
    text-indent: 2em;
}

#work_tag, #work_comment, #work_analyse {
    font-size: 14px;
    color: #FFF8DC;
}
.comment {
    font-size: 16px;
    color: Gray;
}
.comment_key {
    color: White;
}

p.comment span {
    text-indent:1em;
}

.separator {
    color: LightGrey;
}

#workdetailcontent {
    border-radius: 5px;
}

.editor-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.editor_work_item {
    width: 100%;
}
.editor_sub_container {
   width: 100%;
   padding: 5px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.editor_item_left {
   width: 15%;
   padding: 5px;
}

.editor_item_right {
   width: 100%;
   padding: 5px;
}

.editor_item_display {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}

.editor_item_type {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.item_output {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.output_item {
   padding: 5px;
}
