<!-- common java scripts -->
<script type="text/javascript" src="../static/js/fingerprint.js"></script>
<script type="text/javascript" src="../static/js/tts.min.js"></script>
<script type="text/javascript" src="../static/js/tts_agent.js"></script>
<script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../static/js/jquery.s2t.js"></script>
<script type="text/javascript" src="../static/js/shici.js"></script>
<script type="text/javascript" src="../static/js/iconfont.js"></script>
