{% extends "base.html" %}

{% block title %}
<title>【我爱诗词】</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/flex.css">
<style>
.welcome {
  margin: 0 auto;
  width: 80%;
}
</style>
{% endblock %}

{#
{% block javascript %}
<script src="../static/js/jquery-3.1.1.min.js"> </script>
<script src="../static/js/bootstrap-3.3.7.min.js"> </script>
{% endblock %}
#}

{% block content %}
<div id="welcome" class="welcome">
<center><h2>欢迎来到【我爱诗词】</h2></center>
<hr>
<strong>使用方法</strong>
<p style="text-indent: 2em">在搜索框中填写关键词搜索你想读的诗词。可以是诗词名称，作者姓名，诗词片断，诗词体裁如五言绝句，七言绝句，五言律诗，七言律诗，木兰花等，或者作品集名称如唐诗三百首，宋词三百首，千家诗等。</p>
<hr>
<strong>本站简介</strong>
<p style="text-indent: 2em"【我爱诗词】致力于传播中华诗词文化，受众主要面向学龄前儿童，青少年以及广大诗词爱好者。本站所有页面都不带广告，所有资源都将已开源并托管于github - https://github.com/shuguangbo/shici.git，任何人都可以免费获得。</p>
<p style="text-indent: 2em">目前已经收录唐诗三百首、宋词三百首和千家诗共八百多首经典诗词。后续还将加入更多经典，特别是适合青少年的内容，并完善诗词注释和评析。</p>
<hr>
<strong>志愿者招募</strong>
<p style="text-indent: 2em">后续的完善需要更多的投入，文字方面的工作包括文字较对，诗词录入，编写注释、赏析；软件方面的工作包括前后端界面优化完善，APP的开发。期待大家加入，有意者请微信联系guangboshu。</p>
<hr>
</div>
{% endblock %}

