<!-- 模态框（Modal） -->
<div class="modal fade" id="poemDetail" tabindex="-1" role="dialog" aria-labelledby="DialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div id="poemdetailcontent" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /. modal -->
