<script>

// Global variable for work detail - toggle pinyin display
var work={}; 
var work_set={};
var last_id;
// 1 - 20 within a circle like ① 
var cnum=['\u2460','\u2461', '\u2462', '\u2463', '\u2464','\u2465','\u2466','\u2467','\u2468','\u2469','\u246a','\u246b','\u246d','\u246e','\u246f','\u2470','\u2471','\u2472','\u2473']

// Detect return in search input box, then trigger search work action
function search_key_press(e, obj) {  
    if (!e) e = window.event;  
    if ((e.keyCode || e.which) == 13) {  
       search_work(obj);
    }  
}  

// 搜索结果模板渲染入口
function search_work(obj) {
    var url = "/v1/search";
    var keywords = obj.value.trim(); 
    var tip_blank = '关键字不能为空白';
    var tip_chinese ='关键字必须为中文'; 
    if ( keywords.length == 0 ) {
        obj.value= trans_text(tip_blank);
        obj.select();
        return;
    } else {
        code = keywords.charCodeAt(0);
        isChinese = (code > 0x3400 && code < 0x9FC3) || (code > 0xF900 && code < 0xFA6A); 
        if (!isChinese) {
            obj.value=trans_text(tip_chinese);
            obj.select();
            return;
        }
    }
   if ( $.t2s(keywords) == tip_blank || $.t2s(keywords) == tip_chinese) {
        obj.select();
        return;
   }

    spinner_start();
    $.post(url, {_xsrf:$.cookie('_xsrf'),keywords:JSON.stringify($.t2s(keywords))}, function(data, status) {
          work_set = data;
          if ( work_set.length == 0 ) {
               obj.value = trans_text(obj.value + ' 没有匹配记录。');
               obj.select();
               return;
          } else {
               obj.value = trans_text(obj.value + ' 共' + work_set.length + '首'); 
               obj.select();
          }
          display_search_result(work_set);
    }, 'json').fail(function(jqXHR, textStatus, errorThrown) {
        console.log("搜索失败: " + textStatus + ": " + errorThrown );
    }).always(function() {
        spinner_stop();
    });
}


function display_search_result(work_set) {
  if ( work_set.length == 0 ) {
      return 0;
  }

  var html= '<div class="shici_container" >';
  for ( var index in work_set ) {
      work_set[index].plines = [];
      work_set[index].tilestyle = tilestyle;
      html += template('template_work_tile', work_set[index]);
  }
  html += '</div >';
  $('#content').html(trans_text(html));
  // 添加搜索结果事件处理器 
  search_result_event_handler();
}

//  诗词详细模板渲染入口
function get_work(id) {
//    var id = obj.id;
    var url = "/v1/get";

    if ( last_id == id ) {
       show_work_detail(work);
       return;
    }

    spinner_start();
    $.post(url, {_xsrf:$.cookie('_xsrf'), id:JSON.stringify(id)}, function(data, status) {
        work = data;
        show_work_detail(work);
    }, 'json').fail(function(jqXHR, textStatus, errorThrown) {
        console.log("获取作品详细信息失败: " + textStatus + ": " + errorThrown );
    }).always(function() {
        spinner_stop();
    });
}

// 经典模板渲染入口
function classic_work() {
    var url = "/v1/classicwork";
    spinner_start();
    $.post(url, {_xsrf:$.cookie('_xsrf'), id:JSON.stringify("")}, function(data, status) {
        work = data;
        show_work_detail(work);
    }, 'json').fail(function(jqXHR, textStatus, errorThrown) {
        console.log("获取经典作品失败: " + textStatus + ": " + errorThrown );
    }).always(function() {
        spinner_stop();
    });
}

function show_work_detail(work) {
    work.mark = pzable(work.category)?mark:(mark=='pz'?'none':mark);
    work.cnum = cnum;
    last_id = work.id;
    var html = template('template_work_detail', work);
    $('#workdetailcontent').html(trans_text(html));
    $('#workDetail').modal({
        keyboard: true
    });
    // 添加作品显示区事件处理器
    show_event_handler();
}

function update_work_detail_body() {
    if ( typeof(work) == 'undefined' || $.isEmptyObject(work) ) return;
    work.mark = pzable(work.category)?mark:(mark=='pz'?'none':mark);
    var html= template('template_work_detail_body_zw', work);
    $('#work_body').html(trans_text(html));
}

/*
 * 辅助函数：返回第一个标点符号前的字符串
 */
function firstsection(text) {
    var separators=" ,.?，。、？";
    var value = text;
    for ( i in separators ) {
        var s = separators.charAt(i);
        value = value.split(s)[0];
    }
    return value;
}

function search_result_event_handler() {
    work_set.forEach(function(item, index) {
        var id = "#" + item.id;
        //console.log("为诗词" + item.id + "添加事件处理器");
        // 从服务器拿到作品详细信息并在显示区显示
        $(id).on('click', function() { get_work(item.id);});
    });
}

// 作品显示区事件处理器
function show_event_handler(){
    // 作品显示区头部事件处理器
    show_header_event_handler();
    // 作品显示区中部事件处理器
    show_body_event_handler();
    // 作品显示区尾部事件处理器
    //show_footer_event_handler();
}

function show_header_event_handler() {
    // 朗读作品
    $('#readwork').on('click', function() {
        // work是全局变量，保存当前作品显示区内作品的信息
        var tts = [work.name, work.author, work.preface, work.lines.join(' ')].join(' '); 
        read_work(tts);
    });
    // 显示拼音
    $('#py').on('click', function() { toggle_pinyin(); });
    // 显示平仄
    $('#pz').on('click', function() { toggle_pz(); });
    // 编辑作品 - work是全局变量保存当前选中的作品
    $('#edit').on('click', function() { edit_work(work); });
    // 删除作品
    $('#delete').on('click', function() { del_work(work.id); });
}

function show_body_event_handler() {
   // 显示隐藏作品正文
   $('#work_body_prompt').on('click', function() { $('#work_body').toggle(); });
   // 显示隐藏作品名称注释
   $('#work_name').on('click', function() { $('#name_comment').toggle(); });
   // 查看作者生平介绍
   $('#work_author').on('click', function() { window.open('http://baike.baidu.com/item/' + work.author ); });
   // 显示隐藏作品序言
   $('#work_preface').on('click', function() { $('#preface_comment').toggle(); });
   // 显示隐藏作品正文每一行的注释
   work.lines.forEach(function(item, index) {
       var pid = "#lines-" + index, cid = "#lines-" + index + "-comment";
       $(pid).on('click', function() { $(cid).toggle(); });
   });
   // 显示隐藏作品注释（包含所有注释）
   $('#work_comment_prompt').on('click', function() { $('#work_comment').toggle(); });
   // 显示隐藏作品赏析
   $('#work_analyse_prompt').on('click', function() { $('#work_analyse').toggle(); });
   // 显示隐藏作品标签
   $('#work_tag_prompt').on('click', function() { $('#work_tag').toggle(); }); 
}

/*
 * 模板辅助函数：标注拼音或平仄
 * text:  字符串，要标注拼音或平仄的文本
 * ptext: 数组，每个单元为对应字符的拼音
 * mark:  字符串，"pinyin/pz/none", 要标注的是拼音、平仄还是不标注
 * pz: 布尔，false/true, 是否需要标平仄，如诗名称、作者、序都不需要标注平仄
 */
template.helper('mark_shici', function(text, ptext, mark, pz) {
    var html = '';
    var data = {text:text, dan_pinyin:ptext, duo_pinyin:[]};
    switch( mark ) {
        case 'pinyin' :
            html = gen_pinyin_html(data);
            break;
        case 'pz' :
            html = pz?gen_pz_html(data):text;
            break;
        default :
            html = text;
    }
    return html; 
});

/*
 * 模板辅助函数：生成百度百科链接
 * type: 字符串，类别：shi-诗 ci-词
 * name: 字符串, 文章名称 
 * line: 字符串，文章第一句 
 */
template.helper('ci_baike', function(type, name, line) {
    var url = "http://baike.baidu.com/item/";
    url += name;
    if ( type == '词' ) {
       url += '·' + firstsection(line); 
    }
    return url;
});

/*
 * 根据诗词类型判断是否显示平仄
 */
template.helper('pz', function(category) {
   return pzable(category);
});

</script>

{# 搜索结果显示模板：以贴片/书签的方式显示诗词 #}
<script id="template_work_tile" type="text/html">
<div <% if ( tilestyle == 'tile_slim' ) { %> class="shici_tile_slim" <% } else { %> class="shici_tile" <% } %> >
  <div <% if ( tilestyle == 'tile_slim' ) { %> class="shici_item_slim" <% } else { %> class="shici_item" <% } %> >
  <div <% if ( tilestyle == 'tile_slim' ) { %> class="shici_item_mask_slim" flex="main:left cross:center" <% } else { %> class="shici_item_mask" <% } %> id="<%=# id %>" >
    <% if ( tilestyle == 'tile_slim' ) { %> 
      <div class="slim_part1" ><span class="slim_name"><%=# name %></span><span class="slim_line"> <%=# lines[0] %></span></div><div class="slim_part2"><span class="slim_author"><%=# author %></span></div>
    <% } else { %>
      <p><header> <%=# name %> <span class="author"><%=# author %></span> </header></p>
      <% if (preface.length) { %>
        <p class="preface" <% if (preface.length > 15) { %> style="text-indent: 2em;" <% } else { %> style="text-align: center;" <% } %> > <%=# preface %> </p>
      <% } %>
        <% if (type == '诗') { %>
          <% for ( var num in lines ) { %>
            <p class="shi_style"> <span> <%=# lines[num] %> </span> </p>
          <% } %> 
        <% } else if (type == '词') { %>
          <% for ( var num in lines ) { %>
             <p class="ci_style"> <%=# lines[num] %> </p>
          <% } %>
        <% } %>
    <% } %>
    </div>
  </div>
</div>
</script>

{# 诗词详细界面模版：模态框容器模版 #}
<script id="template_work_detail" type="text/html">
  <div class="modal-header">   <% include('template_work_detail_header') %> </div> 
  <div class="show_work_body"> <% include('template_work_detail_body')   %> </div>
  <div class="modal-footer">   <% include('template_work_detail_footer') %> </div> 
</script>

{# 诗词详细界面模版：模态框头部功能区 显示朗读、拼音和关闭按键 #} 
<script id="template_work_detail_header" type="text/html">
  <span  style="float:right;" data-dismiss="modal" aria-hidden="true" title="关闭此页面">关闭</span>
  <% var tts_text = name + ' ' + author + ' ' + preface + ' ' + lines.join(' ') %>
  <span   class="work_show_menu_item" title="朗读是通过语音合成方式完成，需要访问互联网。语音、语调、多音字、朗读连贯性等方面尚待完善，仅供参考。" id="readwork" > 朗读 </span>
  <span class="separator"> | </span>
  <span  class="work_show_menu_item" title="显示拼音 通过程序自动标注，多音字尚不能完全准确标注，因此标注的拼音仅供参考。" id="py" > 拼音 </span>
 <% if ( pz(category) ) { %>
  <span class="separator"> | </span>
  <span  class="work_show_menu_item" title="根据拼音声调自动标注平仄，仅供参考。" id="pz" > 平仄 </span>
 <% } %>
 <span class="separator"> | </span>
 <span  class="work_show_menu_item" title="编辑诗词。"  id="edit" > 编辑 </span>
 <span class="separator"> | </span>
 <span  class="work_show_menu_item" title="删除诗词。"  id="delete" > 删除 </span>
</script>

{# 诗词详细界面模版：模态框尾部功能区 显示关闭按键 #}
<script id="template_work_detail_footer" type="text/html">
    <span type="button" data-dismiss="modal">关闭</span>
</script>

{# 诗词详细界面模版：模态框内容主界面 #}
<script id="template_work_detail_body" type="text/html">
  <div class="show_work_item"> <% include('template_work_body') %> </div>
{#  <div class="show_work_item"> <% include('template_work_comment') %> </div> #}
  <div class="show_work_item"> <% include('template_work_analyse') %> </div>
  <div class="show_work_item"> <% include('template_work_tag') %> </div>
</script>

{# 诗词详细界面模版：内容主界面 - 诗词原文 #} 
<script id="template_work_body" type="text/html">
<div id="work_body_container">
  <div id="work_body_prompt" style="cursor:pointer;">原文</div>
  <div id="work_body"> <% include('template_work_detail_body_zw') %> </div>
</div>
</script>

<script id="template_work_detail_body_zw" type="text/html">
<p><header><span id="work_name"><%=#mark_shici(name, pname, mark, false)%></span> <span id="work_author" class="author baike" title="到百度百科查看<%=#author %>的介绍" ><%=#mark_shici(author, pauthor, mark, false) %></span></header></p>

<div id='name_comment' hidden>
  <p class="comment">
  <% for (var index in comment['name']) { %>
   <% var data = 'name' in comment?{comment:comment['name'][index],cnum:cnum}:{comment:[],cnum:cnum}; %>
   <% include('template_comment_item', data) %>
  <% } %>
  </p>
</div>

<% if (preface.length) { %>
  <p id="work_preface" class="preface" data="zw" <% if (preface.length > 30) { %> style="text-indent: 2em;" <% } else { %> style="text-align: center;" <% } %> ><%=#mark_shici(preface, ppreface, mark, false) %></p>
  <div id='preface_comment' hidden>
    <p class="comment">
   <% for (var index in comment['preface']) { %>
   <% var data = 'preface' in comment?{comment:comment['preface'][index],cnum:cnum}:{comment:[],cnum:cnum}; %>
   <% include('template_comment_item', data) %>
   <% } %>
    </p>
  </div>
<% } %>

<% for (var num in lines) { %>
  <p id="lines-<%=# num %>" data="zw" class=<% if (lines[num].length < 30 ) { %> "shi_style" <% } else { %> "ci_style" <% } %>  > 
    <span><%=#mark_shici(lines[num], plines[num], mark, true) %> </span>
  </p> 
  <div id="lines-<%=# num %>-comment" hidden>
    <p class="comment"> 
   <% var data = 'lines' in comment?{comment:comment['lines'][num],cnum:cnum}:{comment:[],cnum:cnum}; %>
   <% include('template_comment_item', data) %>
    </p>
    </div>
<% } %> 
</script>

{# 诗词详细界面模版：内容主界面 - 注释 #} 
<script id="template_work_comment" type="text/html">
<div id="work_comment_container">
 <div id="work_comment_prompt" style="cursor:pointer;">注释</div>
 <div id="work_comment" >
  <p class="comment">
  <% for (var index in comment['name']) { %>
   <% var data = 'name' in comment?{comment:comment['name'][index],cnum:cnum}:{comment:[],cnum:cnum}; %>
   <% include('template_comment_item', data) %>
  <% } %>
  <% for (var index in comment['preface']) { %>
   <% var data = 'preface' in comment?{comment:comment['preface'][index],cnum:cnum}:{comment:[],cnum:cnum}; %>
   <% include('template_comment_item', data) %>
  <% } %>
  <% for (var index in comment['lines']) { %>
   <% var data = 'lines' in comment?{comment:comment['lines'][index], cnum:cnum }:{comment:[],cnum:cnum}; %>
   <% include('template_comment_item', data) %>
  <% } %>
  </p>
 </div>
</div>
</script>

{# 诗词详细界面模版：显示注释条目 #} 
<script id="template_comment_item" type="text/html">
<% for ( var index in comment) { %>
  <% for ( var key in comment[index] ) { %>
    <span class="comment_key"><%=# cnum[index] %><%=# key %>: </span><span><%=# comment[index][key] %></span>
  <% } %>
<% } %>
</script>

{# 诗词详细界面模版：内容主界面 - 赏析 #} 
<script id="template_work_analyse" type="text/html">
<div id="work_analyse_container">
  <div id="work_analyse_prompt" style="cursor:pointer;">赏析</div>
  <div id="work_analyse">
     <% for (var index in analyse) { %><div style="text-align:left;text-indent:2em"><%=# analyse[index] %></div><% } %>
{#    <p style="cursor:pointer;text-indent:2em" onclick="window.open('<% if (url.length) { %><%=# url %><% } else { %><%=# ci_baike(type, name, lines[0]) %><% } %>');">到百度百科查看详细赏析</p> #}
  </div>
</div>
</script>

{# 诗词详细界面模版：内容主界面 - 标签 #} 
<script id="template_work_tag" type="text/html">
<div id="work_tag_container">
  <div id="work_tag_prompt" style="cursor:pointer;">标签</div>
  <div id="work_tag" style="text-indent:2em"><%=# tag.join(' ') %></div>
</div>
</script>
