<script>
/* Global variables */
var last_value='';  /* 缓存输入区文字 */
var prepo={};       /* 存储每行文字和拼音，以前缀数字为健值 */

// 创建新作品入口
function new_work() {
    var work = {};
    work = blank_work(); 
    init_cache(work);
    show_work_editor(work);
    editor_event_handler();
}

// 编辑作品入口
function edit_work(work) {
    init_cache(work);
    show_work_editor(work);
    ['name', 'author', 'preface', 'lines'].forEach(function(key, index) {
        clean_get_show(key, work[key]);
    }); 
    editor_event_handler();
}

// 显示作品编辑器界面
function show_work_editor(work) {
  var param = set_param(work);

  //console.log("[edit] cache", prepo);
  //console.log("[edit] work", work);
  //console.log("[edit] param", param );

  var html = template('template_editor', param);
  $('#modal_content').html(trans_text(html));
  $('#modal').trigger('md_show');
}

// 保存当前编辑作品到服务器上的作品库中
function save_new() {
    var url = "/v1/save";
    var work = restore_cache(dp=false); 
    ret = check_work(work);
    if (ret.trim().length) {
        alert(ret);
        return;
    }
    spinner_start();
    $.post(url, {_xsrf:$.cookie('_xsrf'), work:JSON.stringify(work)}).done(function(data, status) {
//        console.log("data: \n" + data + "\nstatus: " + status);
        $('#modal').trigger('md_close');
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.log("保存作品详失败: " + textStatus + ": " + errorThrown );
    }).always(function() {
        spinner_stop();
    });
}

// 检查作品必须条目是否满足 
function check_work(work) {
    // console.log("Check ", work);
    return work.name.trim().length?(work.author.trim().length?(work.type.trim().length?(work.lines.length?(''):"请录入作品正文"):"请录入作品分类"):"请录入作者姓名"):"请录入作品名称"; 
}

// 作品编辑器头部 - 预览/编辑作品功能的统一入口
function preview_edit(obj) {
    $.t2s($('#preview_edit').text().trim()) == "预览"?pe_preview(obj):pe_edit(obj);
}

// 预览当前编辑作品
function pe_preview(obj) {
    var work = restore_cache(); 
    // console.log("[pe preview] cache", prepo);
    // console.log("[pe preview] restored work", work);
    ret = check_work(work);
    if (ret.trim().length) {
        alert(ret);
        return;
    }
    work.mark = "pinyin";
    work.cnum = cnum;
    var html = template('template_work_detail_body', work);
    $('#editor_body').html(trans_text(html));
    $('#preview_edit').text(trans_text("编辑"));
    $('#preview_edit').attr('title',trans_text("编辑作品"));
    show_body_event_handler();
}

// 退出预览回到作品编辑界面
function pe_edit(obj) {
    var work = restore_cache();
    var param = set_param(work);
    // console.log("[pe edit] cache", prepo);
    // console.log("[pe edit] restored work", work);
    // console.log("[pe edit] param", param );
    var html = template('template_editor_body', param);
    $('#editor_body').html(trans_text(html));
    $('#preview_edit').text(trans_text("预览"));
    $('#preview_edit').attr('title',trans_text("预览作品"));
    // 添加编辑器事件处理器
    editor_body_event_handler();
    // 添加编辑器含拼音或注释各单元事件处理器
    editor_pinyin_comment_event_handler();
}

// 在服务器上的作品库中删除指定作品 
function del_work(id) {
    var url = "/v1/del";
    if (!confirm(trans_text("作品删除后不能再恢复，确认删除此作品？"))) return;
    // console.log("id: " + id);
    spinner_start();
    $.post(url, {_xsrf:$.cookie('_xsrf'), id:JSON.stringify(id)}).done(function(data, status) {
        // console.log("data: \n" + data + "\nstatus: " + status);
        $('#modal').trigger('md_close');
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.log("删除作品失败: " + textStatus + ": " + errorThrown );
    }).always(function() {
        spinner_stop();
    });
}

// 根据提供的作品信息初始化缓存
function init_cache(work) {
   // 清空缓存 
   for ( var key in prepo ) delete prepo[key]; 
   ['id', 'name', 'author', 'preface', 'lines', 'type', 'category', 'tag', 'analyse', 'comment'].forEach(function(key, index) {
       prepo[key] = work[key];
   });
}

// 从缓存中提取作品信息
function restore_cache(dp=true) {
   var work = blank_work(dp);
   work.id = prepo.id.trim().length?prepo.id.trim():md5(prepo.name.trim() + prepo.author.trim() + prepo.lines.trim());
   // 作品名称应该是没有换行，只是按统一风格处理
   var name = '';
   if ('name' in prepo && prepo.name.length ) {
     for ( var index in prepo.name ) { 
       name += prepo['name'][index].text + "\n";
       work['pname'][index] = prepo['name'][index].dan_pinyin;
       if(dp) work['dpname'][index] = prepo['name'][index].duo_pinyin;
    }
   }
   work['name'] = name.trim();
   // 作者姓名应该是没有换行，只是按统一风格处理
   var author = '';
   if ('author' in prepo && prepo.author.length ) {
     for ( var index in prepo.author ) {
       author += prepo['author'][index].text + "\n";
       work['pauthor'][index] = prepo['author'][index].dan_pinyin;
       if(dp) work['dpauthor'][index] = prepo['author'][index].duo_pinyin;
    }
   }
   work['author'] = author.trim();
   var preface = '';
   if ('preface' in prepo && prepo.preface.length ) {
     for ( var index in prepo.preface ) {
       preface += prepo['preface'][index].text + "\n";
       work['ppreface'][index] = prepo['preface'][index].dan_pinyin;
       if(dp) work['dppreface'][index] = prepo['preface'][index].duo_pinyin;
    }
   }
   work['preface'] = preface.trim();
   var lines = '';
   if ('lines' in prepo && prepo.lines.length ) {
       for ( var index in prepo.lines ) {
           lines += prepo['lines'][index].text + '\n';
           work['plines'][index] = prepo['lines'][index].dan_pinyin;
           if(dp) work['dplines'][index] = prepo['lines'][index].duo_pinyin;
       }
   }
   work['lines'] = lines.trim();
   ['type', 'category', 'tag', 'analyse', 'comment'].forEach(function(key, index) {
       work[key] = prepo[key];
   });
   // 自动将作品名称、作者、类型、分类加入标签中
   [work['name'], work['author'], work['type'], work['category']].forEach(function(key, index) {
       if ( key.length && work['tag'].indexOf(key) == -1 ) work['tag'].push(key);
   });

   return work;
}

function is_blank_cache() {
    var ret = true;
    if ( Object.keys(prepo).length ) {
        if (prepo.name.length || prepo.author ) ret = false;
    }
    return ret;
} 

/*
 * 页面布局
 * 【文字和拼音显示区域】
    ...
 * 【文字和拼音显示区域】
 * 【文字输入区域】
 *
 * 文字输入区事件处理函数
 * 当在文字输入框中输入字符时触发此处理函数 - 框中无字符则清空拼音显示区域，如果输入区无变化则返回，否则向服务器获取拼音并显示在拼音显示区，如果是回车事件并且输入区是单行文本输入区则隐藏输入区
 */
function key_pressed(event) {
    if (!event) event = window.event;
    var id = this.id.split('_')[0];
    var text = $.t2s(this.value.trim());

    /* 清除显示区，从服务器取得拼音和注释然后再显示 */
    clean_get_show(id, text);

    /* 在单行输入框中按下回车后隐藏输入框 */
    if ((event.keyCode || event.which ) == key_Enter) {
        var input_id = "#" + id + "_input";
        if ( $(input_id).attr('type') == 'text') {
            $(input_id).hide();
        }
    }
}

/*
 * 清空显示区
 * 从服务器得到文本对应的拼音和注释并显示
 */
function clean_get_show(id, text) {
    var output_id = "#" + id + "_output";
    var html = '';

    var show_pinyin = $(output_id).attr('data_show_pinyin') == 'true'?true:false;
    var show_comment = $(output_id).attr('data_show_comment') == 'true'?true:false;

    if ( text.length == 0 ) {
        // 清空缓存
        prepo[id] = [];
        $(output_id).html('');
        return ;
    }
    if ( last_value != text ) {
        last_value = text;
        // console.log(md5(remove_nonchinese(text)));
        // 清空输出显示区 
        // 每行文字对应一个文本拼音显示容器, 注释显示容器和注释编辑容器 
        var tp = text.split('\n');
        var count = 0;
        tp.forEach(function(value, index) {
            // 忽略空白行 
            if ( value.trim().length ) { 
                html += output_item({id:id, index:count, text:'', ptext:[], comment:[], show_pinyin:show_pinyin, show_comment:show_comment});  
                count += 1;
            }
        });

        $(output_id).html(trans_text(html));
       
        // 从服务器得到每行文字的拼音和注释，并显示在相应的容器上 
        prepo[id] = []; // 清空缓存 TODO 优化？？？
        count = 0;
        tp.forEach(function(value, index) {
            // 忽略空白行 
            if ( value.trim().length ) {
                var param = {id:id, index:count, text:value.trim(), show_pinyin:show_pinyin, show_comment:show_comment};
                if ( show_pinyin ) get_pinyin(param); 
                if ( show_comment ) get_comment(param); 
                count += 1;
            }
        });
    }
}
/*
 * 获取文字对应的拼音，并生成相应的HTML
 * 服务器返回的内容如下：
 * dan_pinyin: 数组 元素是对应汉字的拼音字符串 
 * duo_pinyin: 数组 元素是对应汉字的所有读音组成的数组
 */
function get_pinyin(param) {
    var id = param.id, index = param.index, text = param.text, show_pinyin = param.show_pinyin, show_comment = param.show_comment;
    var url = "/v1/pinyin";
    var display_id = "#" + id + "_" + index;
    $.post(url, {_xsrf:$.cookie('_xsrf'), text:JSON.stringify(text)})
      .done(function(data) {
          var html = '';
          var pinyin = JSON.parse(data);
          // 更新缓存
          prepo[id][index] = {};
          prepo[id][index]['text'] = text;
          prepo[id][index]['dan_pinyin'] = pinyin.dan_pinyin;
          prepo[id][index]['duo_pinyin'] = pinyin.duo_pinyin;
          // 生成相应的HTML代码
          var p = {'id':id,'section':index};
          Object.assign(p, prepo[id][index]);
          html += gen_pinyin_html(p);
          // 显示在相应的输出区域
          $(display_id).html(trans_text(html));
          if ( text.trim().length > g_linelen ) $(display_id).css({'text-indent':'2em', 'text-align':'left'});
          // 添加事件处理器
          editor_item_output_event_handler({id:id, show_pinyin:show_pinyin, show_comment:show_comment});
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
          console.log("获取拼音失败: " + textStatus + " " + errorThrown );
      });
}

// 获取文字对应的注释，并生成相应的HTML
function get_comment(param) {
    var id = param.id, index = param.index, text = param.text, show_pinyin = param.show_pinyin, show_comment = param.show_comment;
    var url = "/v1/comment"
    var comment_display_id = "#" + id + "_" + index + "_comment_display";
    var comment_input_id = "#" + id + "_" + index + "_comment_input";
    $.post(url, {_xsrf:$.cookie('_xsrf'), text:JSON.stringify(text)})
      .done(function(data) {
          var html = '';
          // 合并获得的注释和缓存中的注释
          // TODO 
          var comment = merge_comment({id:id,index:index,text:text,comment:JSON.parse(data)});
          // 更新注释显示区 TODO 
          html = $(comment_display_id).html();
          html += show_comment_v1(comment);
          $(comment_display_id).html(trans_text(html));
          // 更新注释输入区 TODO 
          html = $(comment_input_id).html();
          html += show_comment_v2(comment);
          // 显示在相应的注释显示区域
          $(comment_input_id).html(trans_text(html));
          // 添加事件处理器
          editor_item_comment_event_handler({id:id, show_pinyin:show_pinyin, show_comment:show_comment});
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
          console.log("获取注释失败: " + textStatus + " " + errorThrown );
      });
}

// 合并服务器传来的注释和缓存中的注释
function merge_comment(data) {
    var id = data.id;
    var index = data.index;
    var text = data.text;
    var comment = data.comment;
    var cached_comment = id in prepo.comment?(index in prepo.comment[id]?prepo.comment[id][index]:[]):[];
    var temp_comment = cached_comment;
    var updated = false;
    for ( var num in comment ) {
        for ( var key in comment[num] ) {
           if ( has_comment(cached_comment, key) ) continue;
           var obj = new Object();
           obj[key] = comment[num][key];
           append_comment(temp_comment, obj);  
           updated = true;
        } 
    }
//    console.log(id, index, text, comment, cached_comment, temp_comment);
    if (updated ) prepo.comment[id][index]=temp_comment;
    return temp_comment;
}

function has_comment(comment, key) {
    for ( var index in comment ) {
       if( key in comment[index] ) return true;
    }
    return false;
}

function append_comment(comment, obj) {
    comment.push(obj);
}

// 生成空白诗词
function blank_work(dp=true) {
    var work = {
    id:'',               // 作品标志 - 名称+作者+第一句的md5 hash值
    type:'诗',           // 分类 - 诗、词、曲、文 / shi, ci, qu, wen
    name:'',             // 作品名称
    author:'',           // 作者
    preface:'',          // 序
    category:'五言古诗', // 体裁 - 五言绝句、五言律诗等
    lines:'',            // 正文
    plines:[],           // 正文 - 拼音 单音
    pname:[],            // 作品名称 - 拼音 单音
    pauthor:[],          // 作者 - 拼音 单音
    ppreface:[],         // 序 - 拼音 单音
    dpname:[],           // 作品名称 - 拼音 多音
    dpauthor:[],         // 作者名称 - 拼音 多音
    dppreface:[],        // 序 - 拼音 多音
    dplines:[[]],        // 正文 - 拼音 多音
    tag:[],              // 标签
    url:'',              // 指向百科的链接
    comment:{name:[],preface:[],lines:[]},          // 注释
    analyse:''           // 赏析
    };

    if ( !dp ) ['dpname', 'dpauthor', 'dppreface', 'dplines'].forEach(function(value, index) { delete work[value]; });
    
    return work;
}

// 生成控制作品编辑器界面显示的参数
function set_param(work)
{
   return { 
     name: { config:{control_input:'input', size:g_linelen, maxlength:100, show_pinyin:true, show_comment:true}, id:'name', text:work.name, ptext:work.pname, dptext:'dpname' in work?work.dpname:[], comment:'name' in work.comment?work.comment.name:[], placeholder:'在这里输入作品名称，最多100字', title:'双击鼠标左键编辑作品名称', input_title:'这里是作品名称输入区' },
     author: { config:{control_input:'input', size:g_linelen, maxlength:10, show_pinyin:true, show_comment:false}, id:'author', text:work.author, ptext:work.pauthor, dptext:'dpauthor' in work?work.dpauthor:[], comment:[], placeholder:'在这里输入作者姓名，最多10字', title:'双击鼠标左键编辑作者姓名', input_title:'这里是作者姓名输入区' },
     type: { config:{control_input:'select', options:['诗','词','文','曲'], show_pinyin:false, show_comment:false}, id:'type', text:work.type},
     category: { config:{control_input:'select', options:category[work.type], show_pinyin:false}, id:'category', text:work.category},
     preface: { config:{control_input:'textarea', cols:g_linelen, maxlength:500, show_pinyin:true, show_comment:true}, id:'preface', text:work.preface, ptext:work.ppreface, dptext:'dppreface' in work?work.dppreface:[], comment:'preface' in work.comment?work.comment.preface:[], placeholder:'在这里输入序言，最多500字，支持回车换行。', title:'双击鼠标左键编辑序言', input_title:'这里是序言输入区'},
     lines: { config:{control_input:'textarea', cols:g_linelen, maxlength:1000, show_pinyin:true, show_comment:true}, id:'lines', text:work.lines, ptext:work.plines, dptext:'dplines' in work?work.dplines:bdptext(work.lines.split('\n').length), comment:'lines' in work.comment?work.comment.lines:[], placeholder:'在这里输入正文，最多100字，支持回车换行。', title:'双击鼠标左键编辑正文', input_title:'这里是正文输入区'},
     tag: { config:{control_input:'textarea', cols:g_linelen, maxlength:200, show_pinyin:false, show_comment:false}, id:'tag', text:work.tag.join(' '), ptext:[],dptext:[], comment:[], placeholder:'在这里输入标签，以空格分隔，最多200字。', title:'双击鼠标左键编辑标签', input_title:'这里是标签输入区' },
     analyse: { config:{control_input:'textarea', cols:g_linelen, maxlength: 1000, show_pinyin:false, show_comment:false}, id:'analyse', text:work.analyse, ptext:[], dptext:[], comment:[], placeholder:'在这里输入作品赏析，最多1000字，支持回车换行。', title:'双击鼠标左键编辑赏析', input_title:'这里是赏析输入区' }
  }
}
// 根据作品正文行数生成对应的空白多音字数组
function bdptext(num) {
    var array = new Array();
    for ( var index = 0; index < num; index++ ) array[index] = [];
    return array;
}


// 更新用户选择的多音字读音并保存到缓存中
function upd_pinyin(obj) {
    var id = obj.id.split('_')[0];
    var section = Number(obj.id.split('_')[1]);
    var index = Number(obj.id.split('_')[2]);
    var selection = obj.value;

    var dan_pin = prepo[id][section]['dan_pinyin'][index];
    if ( selection == dan_pin ) return;
    
    prepo[id][section]['dan_pinyin'][index] = selection;
}
// 更新作品类型并保存到缓存中
function upd_type(obj) {
    var id = obj.id.split('_')[0];
    prepo[id] = $.t2s(obj.value);
    list_category(obj.value);
    init_category(obj.value);
}
// 初始化作品
function init_category(type) {
    prepo.category = type in category?(category[type].length?category[type][0]:''):'';
}
// 更新作品
function upd_category(obj) {
    var id = obj.id.split('_')[0];
    prepo[id] = $.t2s(obj.value);
}
// 更新作品标签并保存到缓存中
function upd_tag(obj) {
    var id = obj.id.split('_')[0];
    prepo[id] = $.t2s(obj.value).split(' '); 
    // 更新标签显示区
    var output_id = '#' + id + '_output';
    var html = show_output({id:id, text:$(obj).val().trim(), ptext:[], dptext:[], comment:[], show_pinyin:$(output_id).attr('data_show_pinyin')=='true'?true:false, show_comment:$(output_id).attr('data_show_comment')=='true'?true:false});
    $(output_id).html(trans_text(html));
    $(output_id).show();
    // 如果标签输入区有内容则隐藏标签输入区
    $(obj).val().trim().length == 0 ? $(obj).show() : $(obj).hide(); 
}
// 更新作品赏析区并保存到缓存中
function upd_analyse(obj) {
    var id = obj.id.split('_')[0];
    var value = $.t2s(obj.value.trim());

    if ( value.length == 0 ) return;

    prepo[id] = value;
    // 更新作品赏析显示区
    var output_id = '#' + id + '_output';
    var html = show_output({id:id, text:prepo[id], ptext:[], dptext:[], comment:[], show_pinyin:$(output_id).attr('data_show_pinyin')=='true'?true:false, show_comment:$(output_id).attr('data_show_comment')=='true'?true:false});
    $(output_id).html(trans_text(html));
    $(output_id).show();
    // 如果作品赏析输入区有内容则隐藏赏析输入区
    value.length == 0 ? $(obj).show() : $(obj).hide(); 
}
// 更新作品注释并保存到缓存中
function upd_comment(obj) {
    var id = obj.id.split('_')[0];
    var index = obj.id.split('_')[1];
    var cd_id = "#" + id + "_" + index + "_comment_display";
    var ta = $.t2s(obj.value.trim()).split('\n');
    var to = [];
    var count = 0;
    for ( var num in ta ) {
        if ( ta[num].trim().length == 0 || ta[num].trim().indexOf('：') == -1 ) continue;
        var key = ta[num].split('：')[0].trim();
        var value = ta[num].split('：')[1].trim();
        if ( key.length && value.length ) {
          to[count] = {};
          to[count][key] = value;
          count += 1;
        }
    }
    // 更新注释缓存
    if ( !('comment' in prepo) ) prepo['comment'] = {};
    if ( !(id in prepo.comment) ) prepo['comment'][id] = [];
    prepo['comment'][id][index] = to;
    
    // 更新作品注释显示区
    $(cd_id).html(trans_text(gen_comment_html(to)));
}

// 生成作品注释的HTML
function gen_comment_html(comment) {
    var html = '';
    for ( var index in comment ) {
        for ( var key in comment[index] ) {
            html += `<span>${cnum[index]}${key}：${comment[index][key]}</span>`;
        }
    }
    return html;
}
// 生成文本对应的拼音
function pin(id, section, text, dan_pinyin, duo_pinyin) {
    var d = {};
    d['text'] = text;
    d['dan_pinyin'] = dan_pinyin;
    d['duo_pinyin'] = duo_pinyin;
    d['id'] = id;
    d['section'] = section;
    return gen_pinyin_html(d);
}
// 生成作品子类列表
function list_category(type) {
    var html='';
    for ( var index in category[type] ) {
        html+=`<option value="${category[type][index]}">${category[type][index]}</option>`;
    }
    $('#category_input').show();
    category[type].length == 0 ? $('#category_input').hide() : $('#category_input').html(trans_text(html));
}
// 生成显示区对应的HTML
function show_output(data) {
   console.log("Data ", data);
   var html='';
   if ( typeof(data.text) == 'string' ){
       data.text.split('\n').forEach(function(value, index ) {
          var param = {id:data.id, index:index, text:value, ptext:index in data.ptext?data.ptext[index]:[], dptext:index in data.dptext?data.dptext[index]:[], comment:index in data.comment?data.comment[index]:[], show_pinyin:data.show_pinyin, show_comment:data.show_comment};
          html += output_item(param);
       });
   } else {
      data.text.forEach(function(value, index) {
          var param = {id:data.id, index:index, text:value, ptext:data.ptext[index], dptext:data.dptext[index], comment:data.comment[index], show_pinyin:data.show_pinyin, show_comment:data.show_comment};
          html += output_item(param);
      }); 
   } 
   return html;
}

/*
function show_output(data) {
   var html='';
   if ( typeof(data.text) == 'string' ) {
       var param = {};
       Object.assign(param, data, {index:0});
       html += output_item(param);
   } else {
      data.text.forEach(function(value, index) {
          var param = {id:data.id, index:index, text:value, ptext:data.ptext[index], dptext:data.dptext[index], comment:data.comment[index], show_pinyin:data.show_pinyin, show_comment:data.show_comment};
          html += output_item(param);
      });
   }
   return html;
}
*/

/*
 * 输出单元布局
 * 【文字和拼音显示区】
 * 【注释显示区】
 * 【注释编辑区】
 */
// 生成输出单元的HTML
function output_item(data) {
   var html = '';
   var pinyin_id = `${data.id}_${data.index}`;
   var cd_id = `${data.id}_${data.index}_comment_display`;
   var ci_id = `${data.id}_${data.index}_comment_input`;

    html += `<div id="${pinyin_id}" class="output_item" ${indent(data.text)}>${data.show_pinyin ? pin(data.id, data.index, data.text, data.ptext, data.dptext) : show_text(data.text, '\n')}</div>${data.show_comment ? `<div id="${cd_id}" class="output_item" title="点击编辑注释" hidden placeholder='注释显示区'>${show_comment_v1(data.comment)}</div><textarea id="${ci_id}" cols="${g_linelen}" class="output_item" title="编辑注释" maxlength="500" hidden placeholder="在这里编辑上面文字的注释，最多500字。文字和注释间以中文冒号分隔。例如 立春: 二十四节气中的第一个节气，代表春季的开始。">${show_comment_v2(data.comment)}</textarea>` :''}`; 
    return html;
}

// 生成作品注释的HTML - 用于注释显示区
function show_comment_v1(comment) {
    return gen_comment_html(comment);
}
// 生成作品注释的HTML - 用于注释输入区初始化
function show_comment_v2(comment) {
    var html = '';
    for ( var index in comment ) {
        for ( var key in comment[index] ) {
            html +=`${key}：${comment[index][key]}\n`;
        }
    }
    return html;
}

// 函数：生成显示中文和拼音的HTML文本
// 参数：data.text _ 中文文本 格式为字符串
// 参数：data.dan_pinyin _ 一字一音 格式为数组 数组元素为对应中文的拼音字符串
// 参数：data.duo_pinyin _ 包含多音字的所有读音 格式为数组 数组元素为对应中文的拼音数组
// 注意：通过pypinyin得到的拼音数组中，不包括标点符号，因此文本数组的大小和拼音数组大小不是对应的。比如下面文本中逗号后有空格，文本大小是4，而拼音大小则是2
//       text: "我， 们", dan_pinyin: ["wǒ", "men"], duo_pinyin: [["wǒ"], ["men"]] 
function gen_pinyin_html(data) {
    var html='';
    if ( data.text.length == 0 ) return html;

    let pindex = 0;
    for ( let index in data.text ) {
        if ( is_nonchinese_char(data.text[index]) ) {
            html += `${index == 0 || is_nonchinese_char(data.text[index-1]) ? "" : "</ruby>"}${data.text[index]}`;
            continue;
        }
        html += `${index == 0 || is_nonchinese_char(data.text[index-1]) ? "<ruby>" : "" }${data.text[index]}${mark_pinyin(pindex, data)}${index == data.text.length ? "</ruby>":"" }`;
        pindex += 1;
    } 
    return html;
}

// 函数：生成显示单个汉字拼音的HTML代码, 支持多音字并列出所有读音
// 参数：pindex - 对应拼音数组的下标
// 参数：data.dan_pinyin _ 一字一音 格式为数组 数组元素为对应中文的拼音字符串
// 参数：data.duo_pinyin _ 包含多音字的所有读音 格式为数组 数组元素为对应中文的所有读音 
function mark_pinyin(pindex, data) {
    var html = "<rt>";
    if (('duo_pinyin' in data) && (pindex in data.duo_pinyin) && ( typeof data.duo_pinyin[pindex] == 'object') && (data.duo_pinyin[pindex].length > 1 )) {
        html += `<select id="${data.id}_${data.section}_${pindex}">`;
        for ( var num in data.duo_pinyin[pindex] ) {
           html += `<option value="${data.duo_pinyin[pindex][num]}" ${data.duo_pinyin[pindex][num] == data.dan_pinyin[pindex] ? " selected" : ""}> ${data.duo_pinyin[pindex][num]} </option>`;
        }
        html += "</select>";
    } else {
        html += data.dan_pinyin[pindex];
    }
    html += "</rt>";
    return html;
}
// 显示文字输入区，支持单行和多行
function show_input(id){
   var rows = count_rows($(id).val());
   var type = $(id).attr('type');
   if ( type == 'textarea' ) {
       $(id).show().focus().attr('rows',rows?rows:1);
   } else {
       $(id).show().focus();
   }
}
// 作品编辑器事件处理器
function editor_event_handler() {
    editor_header_event_handler(); 
    editor_body_event_handler(); 
    editor_footer_event_handler(); 
}
// 设置作品编辑器头部菜单项事件处理器
function editor_header_event_handler() {
    // 菜单项 - 保存
    $('#save_new').on('click', save_new);
    // 菜单项 - 预览和编辑
    $('#preview_edit').on('click', function(){ preview_edit(this); });
    $('#editor_header_close').on('click', function() { $('#modal').trigger('md_close');});
}
function editor_footer_event_handler() {
    $('#editor_footer_close').on('click', function() { $('#modal').trigger('md_close');});
}

// 设置作品编辑器中部各单元事件处理器
function editor_body_event_handler() {
    ['type','category'].forEach(function(id) {
        var input_id  = '#' + id + '_input';
        $(input_id).on('mouseover', function() {
            $(this).focus();
        });
        $(input_id).on('change', function() {
            switch(id) {
                case 'type' :
                    upd_type(this);
                    break;
                case 'category' :
                    upd_category(this);
                    break;
            }
        });
    });
    ['name','author','preface','lines','tag','analyse'].forEach(function(id) {
        var output_id = '#' + id + '_output';
        var input_id  = '#' + id + '_input';
        var show_pinyin  = $(output_id).attr('data_show_pinyin')  == 'true'?true:false;
        var show_comment = $(output_id).attr('data_show_comment') == 'true'?true:false;
       
        // 条目输出显示区双击或鼠标悬停则显示输入区 
        $(output_id).on('mouseover', function() { show_input(input_id); });
        $(output_id).on('dblclick', function() { show_input(input_id); });
        // 输入区鼠标悬停则获得焦点
        $(input_id).on('mouseover', function() { $(this).focus(); });
         
        if ( show_pinyin ) {
            $(input_id).on('blur', function() {
               this.value.length?$(this).hide():$(this).show();
            });
            $(input_id).on('keyup', key_pressed);
        } else {
            $(input_id).on('blur', function() {
                // 更新相应缓存
                upd_value(this);
            });
        }
    });
}

// 文本输入框失焦事件处理器 - 更新对应的缓存
function upd_value(obj) {
    var id = obj.id.split('_')[0];
    switch(id) {
        case 'analyse':
            upd_analyse(obj);
            break;
        case 'tag':
            upd_tag(obj);
            break;
    }
}

// 添加编辑器中部含拼音输出或注释各单元事件处理器
function editor_pinyin_comment_event_handler() {
    ['name', 'author', 'preface', 'lines'].forEach(function(id, index) {
        var output_id = "#" + id + "_output";
        var show_pinyin  = $(output_id).attr('data_show_pinyin')  == 'true'?true:false;
        var show_comment = $(output_id).attr('data_show_comment') == 'true'?true:false;
        var param = { id:id, show_pinyin:show_pinyin, show_comment:show_comment};
        editor_item_output_event_handler(param); 
        editor_item_comment_event_handler(param); 
    });
}

// 为编辑器条目中的显示单元添加事件处理器
function editor_item_output_event_handler(config) {
    // console.log("为" + config.id + "显示单元添加事件处理器");
    var id = config.id;
    var show_comment = config.show_comment;
    var show_pinyin  = config.show_pinyin;
    prepo[id].forEach(function(item, index) {
        var item_output_id = '#' + id + '_' + index;
        var item_cd_id = '#' + id + '_' + index + "_comment_display";
        var item_ci_id = '#' + id + '_' + index + "_comment_input";

        if ( show_comment ) {
            // 文本输出显示单元单击事件外理器 - 显示注释输入区，并阻止冒泡
            $(item_output_id).on('click', function(event){ show_input(item_ci_id); event.stopPropagation(); });
            // 文本输出显示单元鼠标悬停事件外理器 - 显示注释输入区，并阻止冒泡
            $(item_output_id).on('mouseover', function(event){ show_input(item_ci_id); event.stopPropagation(); });
        }
        // 在有多音字的输出显示区，单击多音字则修改多音字的拼音
        if ( show_pinyin ) {
            if('duo_pinyin' in prepo[id][index]) prepo[id][index].duo_pinyin.forEach(function(v,i) {
                if ( typeof(v) == 'object' && v.length ) {
                    var dp_id = '#' + id + '_' + index + '_' + i;
                    // 鼠标悬停事件外理器 - 获得焦点
                    $(dp_id).on('mouseover', function(event) { this.focus(); event.stopPropagation();});
                    // 多音字拼音改变事件处理器 - 更新缓存
                    $(dp_id).on('change', function(event){ upd_pinyin(this); });
                    $(dp_id).on('click', function(event) {event.stopPropagation();});
                }
            });
        }
   });
}

// 为编辑器条目中的注释单元添加事件处理器
function editor_item_comment_event_handler(config) {
    // console.log("为" + config.id + "注释单元添加事件处理器");
    var id = config.id;
    var show_comment = config.show_comment;
    var show_pinyin  = config.show_pinyin;
    prepo[id].forEach(function(item, index) {
        var item_output_id = '#' + id + '_' + index;
        var item_cd_id = '#' + id + '_' + index + "_comment_display";
        var item_ci_id = '#' + id + '_' + index + "_comment_input";

        if ( show_comment ) {
            // 注释显示区点击事件外理器 - 隐藏注释显示区
            $(item_cd_id).on('click', function(event){ $(this).hide();});
            // 注释显示区鼠标悬停事件外理器 - 阻止冒泡
            $(item_cd_id).on('mouseover', function(event) { event.stopPropagation(); });
            // 注释输入区获焦事件外理器 - 有注释则显示否则隐藏注释显示区
            $(item_ci_id).on('focus', function(event){this.value.length?$(item_cd_id).show():$(item_cd_id).hide();});
            // 注释输入区获焦事件外理器 - 隐藏注释显示区和注释输入区
            $(item_ci_id).on('blur', function(event){$(this).hide();$(item_cd_id).hide();});
            // 注释输入区内容改变事件处理器 - 更新缓存，有注释则显示
            $(item_ci_id).on('change', function(event){
                upd_comment(this);
                this.value.length?$(item_cd_id).show():$(item_cd_id).hide();
            });
            // 注释输入区鼠标悬停事件外理器 - 阻止冒泡
            $(item_ci_id).on('mouseover', function(event) { event.stopPropagation(); });
        }
   });
}

// 模板辅助函数，判断是汉字还是标点符号
template.helper('nonchinese_char', function(text) {
    return is_nonchinese_char(text);
});
// 模板辅助函数 - 生成显示选项列表的HTML代码
template.helper('list_options', function(options, selected) {
    var html='';
    for ( var index in options ) {
       html += `<option value="${options[index]}" ${options[index] == selected ? 'selected' : ''}> ${options[index]}</option>`;
    }
    return html;
});
// 模板辅助函数 - 生成显示文字的HTML代码
template.helper('show_text_v1', function(text, separator) {
    return show_text(text, separator);
});
// 模板辅助函数 - 生成显示输出区的HTML代码
template.helper('show_output_v1', function(data) {
   return show_output(data);
});
// 模板辅助函数 - 生成代表真假的字符
template.helper('tf', function(value) {
   return value ? "true" : "false";
});

// 模板辅助函数 - 多行输入框行数 
template.helper('count_rows', function(text) {
   return count_rows(text);
});
</script>

{# 诗词编辑界面模版 总体布局 #}
<script id="template_editor" type="text/html">
  <div id="editor_header" class="modal_header editor_header"  > <% include('template_editor_header') %> </div> 
  <div id="editor_body"   class="modal_body editor_body"      > <% include('template_editor_body')   %> </div> 
  <div id="editor_footer" class="modal_footer editor_footer"  > <% include('template_editor_footer') %> </div> 
</script>

{# 诗词编辑界面模版：编辑界面头部区 显示功能按钮 #}
<script id="template_editor_header" type="text/html">
  <div class="editor_menu">
    <span class="editor_menu_item" title="保存作品" id="save_new" > 保存 </span>
    <span class="editor_menu_separator"> | </span>
    <span class="editor_menu_item" title="预览作品" id="preview_edit" > 预览 </span>
  </div>
  <div>
    <span id="editor_header_close" class="modal_close" title="关闭此编辑界面">关闭</span>
  </div>
</script>

{# 诗词编辑界面模版：编辑界面脚部区 显示关闭按键 #}
<script id="template_editor_footer" type="text/html">
  <span id="editor_footer_close" class="modal_close" title="关闭此编辑界面">关闭</span>
</script>

{# 诗词编辑界面模版：编辑界面主体区 显示诗词各项编辑界面 #}
<script id="template_editor_body" type="text/html">
  <div id="editor_work_type" class="editor_sub_container">     {# 子容器1：分类 #}
    <% include('template_editor_type') %>
  </div>
  <div id="editor_work_name" class="editor_sub_container">     {# 子容器2：作品名称 #}
    <% include('template_editor_item', name) %>
  </div>
  <div id="editor_work_author" class="editor_sub_container">   {# 子容器3：作者 #}
    <% include('template_editor_item', author) %>
  </div>
  <div id="editor_work_preface" class="editor_sub_container">  {# 子容器4：序 #}
    <% include('template_editor_item', preface) %>
  </div>
  <div id="editor_work_body" class="editor_sub_container">     {# 子容器5：原文 #}
    <% include('template_editor_item', lines) %>
  </div>
  <div id="editor_work_tag" class="editor_sub_container">      {# 子容器6：标签 #}
    <% include('template_editor_item', tag) %>
  </div>
  <div id="editor_work_analyse" class="editor_sub_container">  {# 子容器7：赏析 #}
    <% include('template_editor_item', analyse) %>
  </div>
</script>

<script id="template_editor_type" type="text/html">
  <div class="editor_item_type">
    <% include('template_editor_select', type) %>
    <% include('template_editor_select', category) %>
  </div>
</script>

{# 诗词编辑界面模版：编辑界面主体区 单项编辑界面 #}
<script id="template_editor_item"  type="text/html">
<div id="<%=# id %>_editor" class="editor_item">
  <div id="<%=# id %>_output_container" class="editor_item_output">
      <% var data = {id:id, text:text, ptext:ptext, dptext:dptext, comment:comment, show_pinyin:config.show_pinyin, show_comment:config.show_comment}; %>
      <div id="<%=# id %>_output" class="item_output" data_show_pinyin="<%=# tf(config.show_pinyin) %>" data_show_comment="<%=# tf(config.show_comment) %>" title="<%=# title %>"><%=# show_output_v1(data) %>
      </div>
  </div>
  <div id="<%=# id %>_input_container" class="editor_item_input">
    <% if ( config.control_input == 'input' ) { %>
      {# 单行文本输入 #}
      <input id="<%=# id %>_input" type="text" placeholder="<%=# placeholder %>" size="<%=# config.size %>" maxlength="<%=# config.maxlength %>" value="<%=# show_text_v1(text, ' ') %>" title="<%=# input_title %>" data_show_pinyin="<%=# tf(config.show_pinyin) %>" data_show_comment="<%=# tf(config.show_comment) %>" <% if ( text.length ) { %> hidden <% } %>></input>
    <% } else if ( config.control_input == 'textarea' ) { %>
      {# 多行文本输入 #}
      <textarea id="<%=# id %>_input" type="textarea" placeholder="<%=# placeholder %>" cols="<%=# config.cols %>" rows="<%=# count_rows(text) %>" maxlength="<%=# config.maxlength %>" title="<%=# input_title %>" data_show_pinyin="<%=# tf(config.show_pinyin) %>" data_show_comment="<%=# tf(config.show_comment) %>" <% if ( text.length ) { %> hidden <% } %> ><%=# show_text_v1(text, '\n') %></textarea>
    <% } %>
  </div>
</div>
</script>

<script id="template_editor_select" type="text/html">
<div>
  <select id="<%=# id %>_input" <% if (config.options.length == 0 ) { %>hidden<% } %>>
     <%=# list_options(config.options, text) %> 
  </select>
</div>
</script>

{# 作品编辑器显示风格控制区 #}
<style>
.editor_body {
    background-color: #c2c8f6;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.editor_header{
    background-color: #FFF8DC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.editor_menu_item {
  cursor: pointer;
}
.editor_menu_item:hover {
  font-weight: bold;
}

.editor_menu_separator {
  padding: 0px 5px;
  color: LightGrey;
}
.editor_footer {
  background-color: #FFF8DC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.editor_work_item {
    width: 100%;
}
.editor_sub_container {
   width: 100%;
   padding: 5px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.editor_item, .editor_item_output, .editor_item_input {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}

.editor_item_type {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.item_output {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.output_item {
   padding: 5px;
}
</style>
